.header {
  height: 100vh;
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

.container {
  max-width: 1300px;
  height: 81vh;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col_1 {
  flex-basis: 50%;
  min-width: 300px;
}

.col_1 img {
  max-width: 100%;
  padding: 50px 0;
}

.container .col_1 h1 {
  line-height: 60px;
  font-size: 50px;
  margin: 25px;
}
.container .col_1 p {
  margin: 25px;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  margin: 25px;
  text-decoration: none;
}

.btn:hover {
  background: #563434;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 100%;
  }

  .row {
    text-align: center;
  }

  .col_1 {
    flex-basis: 100%;
  }
}
