.about_page {
  height: 100vh;
  background: radial-gradient(#fff, #ffd6d6);
}

.container {
  padding: 50px 0;
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col_1 {
  flex-basis: 50%;
  min-width: 300px;
}

.about_container {
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.about_container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  width: 130px;
  display: inline-block;
}

.content {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 80px;
  transition: transform 1s;
  text-align: justify;
}

.indicator {
  width: 120px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(90px);
  transition: transform 1s;
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col_1 {
    flex-basis: 100%;
  }
}
